
{% extends 'base.html' %}


{% block head %}

<title>Facial Recognition Service</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
{% endblock %}



{% block body %}

<!--<img src="/static/img.jpg" width="500" height="150">        !-->



<h1 align='center'>     Face Recognition Attendence System      </h1>
<br>
<hr color='black'>
<br>



 <center>login
<button type="submit" class="btn btn-primary">Open camera</button></center>
<br>
<br>
 

<center>Register face
<button type="submit" class="btn btn-primary">Enroll faces</button></center> 
<br>
<br>

<center>
<div>
<label>Enter Roll No         </label>
<input type="number" name="Enter Roll No" id=""><br>
<br>
<br>

<label>Enter student Name</label>
<input type="number" name="Roll No" id=""><br>
<br>
<br>
<br>
</div>

{% block css %}

<button type="button" class="btn btn-primary" class="button1">Take Image</button>


<button type="button" class="btn btn-primary" class="button2">Train Image</button>


<button type="button" class="btn btn-primary"class="button3">Quit</button>

{% endblock%}
            
</center>


{% endblock %}