
{% extends 'base.html' %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            APPLICATION KA NAAM
                        </div>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-success" href="/register" >register</a>
                        <a class="btn btn-success" href="/login" >login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}
